<!DOCTYPE html>
<html lang="en" ng-app="lightingApp" ng-controller="lightingCtrl">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-material-design/dist/css/bootstrap-material-design.css">
    <link rel="stylesheet" href="bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/checkbox.css">
    <meta name="theme-color" content="{{color}}">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <script src="angular/angular.js"></script>
    <script src="js/controller.js"></script>
    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap-material-design/dist/js/material.min.js"></script>
</head>
<body >

<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0)">Hola!</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">

            <ul class="nav navbar-nav navbar-right">

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control col-md-8" ng-model="search" placeholder="Search">
                    </div>
                </form>

                <li ng-class="{'active':editingMode}"><a ng-click="editMode()">Edit Mode</a></li>

            </ul>
        </div>
    </div>
</div>




<div class="container" style="margin-top:80px;">

    <div class="inner-container">



        <h1 ng-show="editingMode">Tap an item to edit:</h1>

        <div  class="row">

            <card ng-repeat="(i,c) in collection | filter:search"></card>
            <card ng-show="!editingMode"></card>


            <h2 class="center-block text-center"
                ng-show="(collection | filter:filter).length ==0">Nothing to show
            </h2>


        </div>

    </div>

</div>

</body>
</html>