<div class="col-md-4 col-xs-12 item" >

    <div class="well"
         ng-class="{'active': c.status && !editingMode,'editing':editingMode}"
         data-channel="{{c.channelNo}}"
         data-switch="{{c.switchNo}}"
         ng-click="(toggleItem(c))"
            >



        <div class="newPlaceholder"
             ng-click="c.isEditing = true"
             ng-show="!c.id && !c.isEditing">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size:50px;"></span>
        </div>



        <div class="existingPlaceholder" ng-show="c.id && !(editingItem == c.id)">
            <h2>
                {{c.name}}
            </h2>
        </div>

        <div class="" ng-show="(editingItem == c.id) && editingMode">

            <form ng-submit="saveItem(c)">
                <fieldset>
                    <legend>{{c.id?"Edit Socket Details":"Add New Socket"}}</legend>
                    <div class="form-group is-empty">
                        <label for="inputEmail" class="col-md-2 control-label">Name</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="Name" ng-model="c.name">
                        </div>
                        <span class="material-input"></span>
                    </div>



                    <div class="form-group">
                        <label for="select111" class="col-md-2 control-label">Channel</label>

                        <div class="col-md-10">
                            <input class="form-control" type="number" max="4" min="1" ng-model="c.channelNo"/>
                        </div>
                        <span class="material-input"></span>
                    </div>

                    <div class="form-group">
                        <label for="select111" class="col-md-2 control-label">Switch</label>

                        <div class="col-md-10">
                            <input class="form-control" type="number" max="4" min="1" ng-model="c.switchNo"/>
                        </div>
                        <span class="material-input"></span>
                    </div>


                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="button" class="btn btn-default" ng-click="c = {}" ng-show="!c.id">Cancel</button>
                            <button type="button" class="btn btn-danger" ng-click="deleteItem(c)" ng-show="c.id">Delete</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>


    </div>

</div>
