<div class="col-md-4 col-xs-12 item" >

    <div class="well"
         ng-class="{'active': c.status}"
         data-channel="{{c.channelNo}}"
         data-switch="{{c.switchNo}}">



        <div class="newPlaceholder"
             ng-click="c.isEditing = true"
             ng-show="!c._id && !c.isEditing">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size:50px;"></span>
        </div>



        <div class="existingPlaceholder" ng-show="!c.isEditing && c._id">
            <h2 ng-mousedown="(alterState(c))"
                ng-mouseup="stopTimer()">
                {{c.name}}
            </h2>

            <div class="channelInfo" ng-click="c.isEditing = true">
                <span class="glyphicon glyphicon-pencil pull-right "></span>
                <p class="hidden-sm pull-right" style="margin-right:10px;" >C{{c.channelNo}}/ S{{c.switchNo}}</p>
            </div>

        </div>

        <div class="" ng-show="c.isEditing">

            <form ng-submit="saveItem(c)">
                <fieldset>
                    <legend>{{c._id?"Edit Socket Details":"Add New Socket"}}</legend>
                    <div class="form-group is-empty">
                        <label for="inputEmail" class="col-md-2 control-label">Name</label>

                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="Name" ng-model="c.name">
                        </div>
                        <span class="material-input"></span>
                    </div>



                    <div class="form-group">
                        <label for="select111" class="col-md-2 control-label">Channel</label>

                        <div class="col-md-10">
                            <select class="form-control" ng-model="c.channelNo">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <span class="material-input"></span>
                    </div>

                    <div class="form-group">
                        <label for="select111" class="col-md-2 control-label">Switch</label>

                        <div class="col-md-10">
                            <select class="form-control" ng-model="c.switchNo">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        <span class="material-input"></span>
                    </div>


                    <div class="form-group">
                        <div class="col-md-10 col-md-offset-2">
                            <button type="button" class="btn btn-default" ng-click="c = {}" ng-show="!c._id">Cancel</button>
                            <button type="button" class="btn btn-danger" ng-click="deleteItem(c)" ng-show="c._id">Delete</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>


    </div>

</div>
